#reproductor 
    input(type="file", multiple mozdirectory webkitdirectory directory acept="audio/mpeg", style="display:none", id="input")
    audio#audio

    #screen
        .disk 
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22")
                path(style="fill:#3F51B5;fill-opacity:1;stroke:none;" d="m3.88867 3c-.49244 0-.88867.35758-.88867.80078v14.39844c0 .4432.39623.80078.88867.80078h14.22266c.49244 0 .88867-.35758.88867-.80078v-14.39844c0-.4432-.39623-.80078-.88867-.80078zm9.96289 3.5c.19284.034.33594.21514.33594.45703l-.0156 6.28906c-.0636.46938-.46283.91496-1.04102 1.07227-.72472.19717-1.43839-.13202-1.59375-.7207-.15535-.58869.2987-1.22471 1.02344-1.42188.40161-.10921.78823-.0442 1.08985.1211v-3.8125l-3.75781 1.05468-.0176 4.83203c-.0636.46931-.46088.91503-1.03906 1.07227-.72473.19717-1.43841-.13209-1.59375-.7207-.15536-.58876.2987-1.22666 1.02343-1.42383.40163-.10922.78821-.0423 1.08985.12305v-5.11133c0-.32251.23966-.65479.53711-.73828l3.95898-1.07227zm3.72266 8.90039.75.5625")
        #playlist
    .barra
        
        .progress
            h3.name ....
            .bar
                div(style="animation-name: progress")
        .tools#tools
            .basic
                #heart.btn 
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22")
                        path(
                            style="fill: currentColor;fill-opacity:1;stroke: #fff;" 
                            d="m18.935552 4.2916761c-.873725-.8612774-2.081035-1.2916761-3.622245-1.2916761-.426446 0-.861661.0751998-1.305356.2238393-.443838.1487996-.856605.350879-1.238236.6041582-.381887.2534393-.710174.4913585-.985549.7135979-.275119.2222393-.536526.4583986-.784158.7083179-.247743-.2499193-.509166-.4860786-.784269-.7083179-.2752481-.2222394-.6036791-.4599986-.9855651-.7135979-.381871-.2534392-.794654-.4548786-1.238365-.6041582-.4436784-.1487995-.8788931-.2238393-1.3053718-.2238393-1.5410674 0-2.7483886.4305587-3.6220979 1.2916761-.8736934.8611174-1.3105401 2.0555139-1.3105401 3.5832373 0 .4652786.08096.9446371.2425593 1.4374357.1616155.4929585.3457749.9132769.5521103 1.2604759.2063194.347199.4402707.685758.7016939 1.015677s.4524307.557119.5727503.682238c.1203196.1248.2149593.2152.2837271.270719l6.439267 6.270862c.12384.124799.275247.187679.454095.187679.178831 0 .330207-.0624.454078-.187519l6.429005-6.250158c1.575419-1.590075 2.363116-3.1526302 2.363116-4.6873936 0-1.5276754-.43699-2.7221679-1.310684-3.5832373z"
                            )
                .options(style="display:flex")
                    #before-btn.btn
                        svg(viewBox="0 0 22 22")
                            path(
                                style="fill:currentColor;fill-opacity:1;stroke:none"
                                d="m11 11 8.5 6v-12m-9 12v-12l-8.5 6z"
                                class="ColorScheme-Text"
                            )       
                    #play-btn.btn
                        svg( viewBox="0 0 22 22")
                                    
                            path.play-btn(
                                    style="fill:currentColor;fill-opacity:1;stroke:none"
                                    d="m4.5 3v16l13-8z"
                                    class="ColorScheme-Text"
                            )
                        
                            path.pause-btn(
                                style="fill:currentColor;fill-opacity:1;stroke:none;color:transparent"
                                d="m 5.5,5 h 3 C 8.777,5 9,5.223 9,5.5 v 11 C 9,16.777 8.777,17 8.5,17 h -3 C 5.223,17 5,16.777 5,16.5 V 5.5 C 5,5.223 5.223,5 5.5,5 Z"
                                class="ColorScheme-Text")
                            path.pause-btn(
                                style="fill:currentColor;fill-opacity:1;stroke:none;color:transparent"
                                d="m 13.5,5 h 3 C 16.777,5 17,5.223 17,5.5 v 11 c 0,0.277 -0.223,0.5 -0.5,0.5 h -3 C 13.223,17 13,16.777 13,16.5 V 5.5 C 13,5.223 13.223,5 13.5,5 Z"
                                class="ColorScheme-Text")
                    #next-btn.btn
                        svg( viewBox="0 0 22 22")
                            path(
                                style="fill:currentColor;fill-opacity:1;stroke:none"
                                d="m11.5 5v12l8.5-6m-17.5 6 8.5-6-8.5-6z"
                                class="ColorScheme-Text"
                            )
                #arrow.btn(title="más opciones") 
                    svg(viewBox="0 0 22 22")
                        path(
                            d="m19 14.401123c.00007.41113-.14791.82218-.44404 1.1329-.59211.62146-1.56655.62124-2.15899-.0003h-.00007l-5.39752-5.6652305-5.39588 5.6635105c-.59206.62147-1.56645.62132-2.1588-.00023-.00002-.00002-.00003-.00003-.00006-.00007-.00003-.00002-.00004-.00003-.00007-.00006-.59268-.62159-.59274-1.64478-.0003-2.26628l6.47509-6.7963005c.29601-.31063.68934-.46913 1.07939-.46906.38975.00007.78312.15854 1.07928.46923h.00007l6.4775 6.7986405c.29621.3109.44434.7221.4444 1.13325z"
                        )
            .moreOptions 

                .btn#list
                    svg(viewBox="0 0 22 22")
                        path(
                            d="m4.67882 3.88889c-.43772 0-.78993.31785-.78993.71181v12.79861c0 .39395.35221.7118.78993.7118h12.64236c.43773 0 .78993-.31785.78993-.7118v-12.79861c0-.39396-.3522-.71181-.78993-.71181zm6.00174 3.55556c.15236.0269.26562.16998.26562.36111l-.0139 4.96875c-.0502.37087-.36608.72293-.82292.84722-.57262.15579-1.13593-.10431-1.25868-.56944-.12275-.46514.2364-.96748.80903-1.12327.31732-.0863.6228-.0334.86111.0972v-3.01216l-2.96875.8316-.0139 3.81771c-.0502.37081-.36434.72298-.82118.84722-.57262.15579-1.13767-.10436-1.26041-.56944-.12276-.46519.23639-.96922.80902-1.125.31734-.0863.62278-.0334.86111.0972v-4.0382c0-.25481.19033-.51736.42535-.58333l3.12848-.84722zm1.60069.88889h4c .15829 0 .28646.16916.28646.38021 0 .21104-.12817.38194-.28646.38194h-4c-.15828 0-.28472-.1709-.28472-.38194 0-.21105.12644-.38021.28472-.38021zm0 1.5243h4c .15829 0 .28646.16916.28646.38021s-.12817.38195-.28646.38195h-4c-.15828 0-.28472-.1709-.28472-.38195s.12644-.38021.28472-.38021zm0 1.52257h4c .15829 0 .28646.1709.28646.38195 0 .21104-.12817.3802-.28646.3802h-4c-.15828 0-.28472-.16916-.28472-.3802 0-.21105.12644-.38195.28472-.38195zm0 1.52431h4c .15829 0 .28646.17089.28646.38194s-.12817.38021-.28646.38021h-4c-.15828 0-.28472-.16916-.28472-.38021s.12644-.38194.28472-.38194z"
                        )

                //media.playlist.repeat.svg
                .btn 
                    svg(viewBox="0 0 22 22")
                        path(
                            d="m16 16h-10v-3l-4 4 4 4v-3h12v-6h-2m-10-6h10v3l4-4-4-4v3h-12v6h2z"
                        )
                //journal-news.svg
                label(for="input")
                    .btn 
                        svg(viewBox="0 0 22 22")
                            path( 
                                d="m16.585938 3.0097656-5.980469.5605469h-6.1718752c-.7627233-.056531-1.0722657.0140166-1.0722657.7050781v13.2851564c-.047907.758357.2680882.742187 1.0097657.742187h6.3007812l5.964844.697266c.4604 0 .614576-.157604.664062-.457031h.541016c.122713 0 .225624.00512.332031-.011719.106408-.014433.234466-.056147.324219-.158203.089753-.102057.120722-.226169.134765-.355469.01373-.126413.011617-.273002.003907-.460937v-.011719-13.2753908c0-.3503719.02628-.5704614-.134766-.78125-.080522-.1053641-.21563-.161468-.330078-.1757812-.105814-.0132307-.209764-.0058706-.330078.0097656h-.525391c-.068362-.2559567-.241119-.3498929-.730468-.3125zm1.529296.7753906c.00609.0050795.027322.0153664 0 .0117188-.009906-.0080972.033204.1420911.033204.4746094v13.2890626.005859c.007818.184929.006839.319443-.001954.400391-.008792.080947-.025572.097244-.015625.085937.009947-.011426.026988-.010069-.021484-.005859-.048472.006615-.142231.005859-.267578.005859h-.521485c-.002652-.053719-.000311-.093664-.003906-.152343l.050782-14.0527348c-.000001-.0157117-.001903-.0238522-.001954-.0390624h.490235.011719c.121685-.0132307.209349-.0159286.246093-.0117188h.001953c.000244.000199-.000311-.0121226 0-.0117188zm-8.3144528 3.7148438h1.3984378v2.800781h2.800781v1.398438h-2.800781v2.800781h-1.3984378v-2.800781h-2.8007812v-1.398438h2.8007812z"
                            )
                //player-volume.svg
                .btn#volIcon
                    svg(viewBox="0 0 22 22")
                        path( 
                            d="m11 3c-.228034 0-.425132.0834965-.591797.25l-4.3808592 4.3808594h-3.4492188c-.2281954 0-.4251319.0834965-.5917969.25-.166665.166665-.25.3657161-.25.59375v5.0507816c0 .228033.083335.427246.25.59375.1668265.166665.363763.25.5917969.25h3.4472656l4.3828124 4.380859c.166665.166503.363763.25.591797.25.228195 0 .425132-.083497.591797-.25s.25-.363763.25-.591797v-14.3164061c0-.2280339-.083497-.4251319-.25-.5917969-.166827-.1665035-.363602-.25-.591797-.25zm4.841797 1.7363281c-.228034 0-.424971.083335-.591797.25-.166503.166665-.25.363763-.25.5917969 0 .3422123.17146.6017964.513672.7773438.491112.2543578.824614.4466663 1 .578125.649218.4738324 1.155517 1.0682555 1.519531 1.7832031.364015.7149475.544922 1.4762021.544922 2.2832031s-.180907 1.568256-.544922 2.283203c-.364014.715109-.870474 1.309532-1.519531 1.783203-.175386.13162-.508888.323767-1 .578125-.342212.175548-.513672.433179-.513672.775391 0 .228034.083497.427246.25.59375.166826.166826.368553.25.605469.25.105296 0 .214269-.022802.328125-.066406 1.227862-.51776 2.215305-1.344499 2.960937-2.480469.745632-1.135809 1.119141-2.374595 1.119141-3.716797 0-1.3422022-.373509-2.580342-1.119141-3.7167969-.745632-1.1358089-1.733075-1.9628706-2.960937-2.4804687-.113856-.0437657-.227942-.0664063-.341797-.0664063zm-1.316406 3.1054688c-.228034 0-.425294.0800444-.591797.2421875-.166504.1623045-.25.3628546-.25.5996094 0 .1842681.052745.3395371.158203.4667968.105296.1272597.233589.2380248.382812.3300782.148901.0920533.298043.1930778.447266.3027343s.275563.2650869.380859.4667969c.104973.201871.158204.451715.158204.75s-.053069.548129-.158204.75c-.105296.201871-.231636.356979-.380859.466797-.149223.109656-.298365.210681-.447266.302734-.149223.091892-.277516.201027-.382812.328125-.105296.127421-.158203.284482-.158203.46875 0 .236916.083496.435352.25.597656.166503.162305.363763.244141.591797.244141.131458 0 .242385-.022802.330078-.066406.614173-.24596 1.107572-.655862 1.480469-1.230469.372896-.574445.558593-1.194668.558593-1.861328s-.185697-1.2901736-.558593-1.8691406c-.373059-.578967-.866296-.9857401-1.480469-1.2226563-.087693-.0437657-.19862-.0664062-.330078-.0664062z"
                        )
.volume 
    input(type="range", name=""  min="0" max="1" step="0.001")